/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
}

/* Add a background color to the button when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\25BC'; /* Unicode character for "down arrow" */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\25B2'; /* Unicode character for "up arrow" */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 18px;
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    .panel {
        background-color: #333; 
    }

    .accordion {
        color: white;
    }
    
    .accordion:hover {
        background-color: rgb(72, 72, 72);
    }
}