/* TAGS */

header {
    background-color: #181818;
    padding: 20px 0px;
    margin: 0px;
    margin-top: -25px;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    margin: 0;
}
main{
    margin: 16px;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: left;
    color: rgb(0, 0, 0);
}

p{
    margin-bottom: 14px;
}

footer{
    margin: 16px;
}

    /* line, used in blog page */
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: .5px;
    width:100%;
}

html{
    scroll-behavior: smooth;
}
  
/* IDS */
#skip-link {
  position: relative;
  top: -40px;
  transition: top 0.5s;
  margin-left: 16px;
  background-color: #fff;
}

#skip-link:focus {
  top: 10px;
  transition: 1s
}


/* CLASSES */

    /* NAVIGATION */
.navbar{
    background-color: #181818;
    overflow: hidden;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.nav-link{
    display: inline-block;
    padding: 16px 20px;
    color:white;
    text-decoration: none;
    display: center;
}
.nav-link:hover,
.nav-link:focus{
    background-color: #ebebeb;
    color:#000000
}

    /* .IMAGE-GRID IS ONLY USED IN BLOG */
.image-grid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-row-gap: 20px;
}
.image-grid img{
    width: 80%;
    width: 100%;
    height: auto;
    transition: filter 0.3s;
}
.image-grid img:hover, .image-grid img:focus {
    filter: grayscale(100%);
}
.image-caption {
    position: relative;
    text-align: center;
    transition: opacity 0.3s;
    opacity: 0;
}
.image-grid img:hover, .image-grid img:focus  + .image-caption {
    opacity: 1;
}


    /* .IMAGE-CONTAINER IS USED IN BOTH INDEX AND BLOG */
.image-container {
    position: relative;
}

    /* .IMAGE-CAPTION IS USED IN BOTH INDEX AND BLOG */
.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    padding: 10px;
    box-sizing: border-box; 
    transition: opacity 0.3s;
    opacity: 0;
}
.image-container:hover .image-caption {
    opacity: 1; /* Show the caption when hovering over the image container */
}

    /* REVERSES THE BLOG POSTS */
.reverse{
    display: flex;
    flex-direction: column-reverse;
}

    /* USED ONCE ON INDEX (FOR GALLERY), USED TWICE FOR THE SECTIONS OF KILKENNY */
.containerIndex{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: repeat(4, 300px); */
    gap: 20px;
}
.containerIndex > div{
    overflow: hidden;
} 
.containerIndex img {
    width: 100%;
    margin: auto;
}
.containerIndex p{
    margin:0px;
    margin-bottom: 14px;
}
.containerIndex img:hover, .containerIndex img:focus {
    filter: grayscale(100%);
}


/* USED TWICE FOR THE SECTIONS OF KILKENNY */
.containerPlace{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: repeat(4, 300px); */
    gap: 20px;
}
.containerPlace > div{
    overflow: hidden;
} 
.containerPlace img {
    width: 100%;
    margin: auto;
}
.containerPlace p{
    margin-bottom:14px;
    margin-top: 0px;
}
    /* USED FOR TOP SECTION OF KILKENNY */
.mainImg{
    grid-column: span 6;
}
.mainImg img{
    float: left;
    width: 50%;
    margin: 0px 20px 0px 0px;
    max-width: 500px;
}

    /* USED FOR KILKENNY SMALL IMAGES */
.smallImg {
    grid-column: span 2;
}



    /* FOR PAGES THAT DO NOT EXIST YET */
.coming-soon h2{
    text-align: center; 
}


    /* FOR BUTTONS ON THE INDEX PAGE */
.buttonindex {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
.buttonindex:hover, .buttonindex:focus{
    background: #000000;
    color: white;
}


/* MEDIA */
@media (prefers-reduced-motion:reduce) {
    html{
        scroll-behavior: auto;
    }
    *{
        transition: 0s !important
    }
}

@media (prefers-color-scheme:dark){
    body{
        background: #333;
        color: white
    }
    #skip-link {
        background-color: #fff;       
    }
    .navbar{
        background-color: #ffffff;
        overflow: hidden;
        
    }
    .nav-link{
        color:white;
    }
    header {
        background-color: #ffffff;
    }
    h1{
        text-align: center;
        color: #333;
    }
    h2{
        color: rgb(255, 255, 255);
    }

    hr{
        color:#aeaeae
    }

    .nav-link{
        color:#333;
    }

    main a:link {
        color:rgb(119, 194, 219);
      }
      
      /* visited link */
    main a:visited {
        color:#d29edb;
      }

    .button {
        border: 2px solid rgb(255, 255, 255);
        background-color: #333;
        color: rgb(255, 255, 255);
      }
    .button:hover, .button:focus{
        background: #ffffff;
        color: #333;
    }
    
}
@media screen and (min-width: 772px){
    .blog-gallery{
        grid-template-columns: 45% 45%;
        grid-gap: 20px
    }
    main{
        margin: 64px;
    }
    header {
        margin: 0px;
        margin-top: -25px;
    }
    footer{
        margin: 64px;
    }

    /* .mainImg{
        font-size: 1.3em;
    } */
    .image-grid .container{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }

}    /* UNDERLINE CURRENT PAGE */
.current{
    text-decoration: underline;
}